{:paths ["src"]
 :deps  {
         http-kit/http-kit {:mvn/version "2.7.0"}
         cheshire/cheshire {:mvn/version "5.12.0"}
         org.clojure/core.async {:mvn/version "1.6.673"}
         com.taoensso/timbre {:mvn/version "5.2.1"}
         environ/environ {:mvn/version "1.2.0"}
         com.novemberain/monger {:mvn/version "3.5.0"}
         compojure/compojure {:mvn/version "1.7.0"}}}

